################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab1/.vs/Lab1.slnx/FileContentIndex/528fb2bd-38a4-4884-81fa-d99c97a528e9.vsidx
/Lab1/.vs/Lab1.slnx/FileContentIndex/5d750b7a-7353-4f7b-adef-8a1888ce7c63.vsidx
/Lab1/.vs/Lab1.slnx/FileContentIndex
